:root {
	--color-primario: #18ffff;
	--color-secundario: #84b5a4;
	--color-terciario: #fcfcd4;
}

html {
	font-size: 25px;
	/* background-color: var(--color-primario); */
    background-image: linear-gradient(to right, #18ffff, #84ffe1, #baffcf, #e1fdcb, #fcfcd4);
}

a {
	color: black;
	text-decoration: none;
}

img {
/* width es el ancho , height es el alto */
width: 500px;
height: 500px;
/* en css existe un modelo de caja para cada etiqueta, tiene margin(margen), border (borde), padding , content */   
margin: 10px;
}
